* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --font-color: white;
  --btn-background: black;
  --background: white;
}
.dark-mode {
  background-color: black;
  --font-color: white;
  --btn-background: white;
  --background: black;
}
body {
  background-color: var(--background);
}
#button {
  color: var(--font-color);
  font-size: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--btn-background);
  border-radius: 16px;
  overflow: hidden;
  width: fit-content;
  padding: 5px;
  text-align: center;
}
