/* light mode white BG, Black text, includes LINKS */
body {
  font-size: 20px;
  background-color: rgb(180, 186, 181);
  color: black;
  font-family: "Oxygen", sans-serif;
  max-width: 100%;
}

.links {
  color: black;
}

/* dark mode */
.dark-mode {
  background-color: rgb(12, 13, 24);
  color: white;
}

.dark-mode a {
  color: white;
}

a:hover {
  color: lightblue;
}

#lightDark {
  position: fixed;
  right: 20px;
  border-radius: 5px;
  font-size: 11px;
}

/* Portrait Photo */
#portrait {
  display: inline-block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
}

.dark-mode .portrait {
  display: inline-block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

/* Contact Links */
#contact,
#resume,
#github {
  display: block;
  position: relative;
  text-align: right;
  font-size: 15px;
  margin: 5px;
}

a {
  color: white;
}

a:hover {
  color: lightblue;
}

#about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 20px;
}

#about {
  width: 40vw;
  display: block;
}

#about-div {
  display: flex;
  flex-direction: column;
  /* text-align: justify; */
  margin: 30px;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.project-images {
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  min-width: none;
  /* max-width: 90%; */
  max-width: 80%;
}

.dark-mode .project-images {
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  min-width: none;
  /* max-width: 90%; */
}

#whale,
#sleep,
#puffwizz,
#randomColor {
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.project-desc {
  font-size: 16px;
}

.project-text {
  margin: 30px;
}

#projects-text,
#skills {
  margin-top: 50px;
  text-align: center;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 60px;
  height: 50px;
  margin-bottom: 130px;
}

#footer {
  display: block;
  text-align: center;
  height: 40px;
}

#headText {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* text selection color */

::selection {
  color: lightskyblue;
  background: darkblue;
}

/* For vertical, mobile screen sizes */
@media only screen and (max-width: 600px) {
  #about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 0;
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 50px;
  }

  #about {
    width: 100%;
    display: block;
  }
}
