body {
  font-size: 20px;
  background-color: rgba(5, 10, 40, 1);
  color: white;
  font-family: "Oxygen", sans-serif;
  max-width: 100%;
}

#contact {
  display: block;
  position: relative;
  text-align: right;
  font-size: 15px;
  margin: 5px;
}

#resume {
  display: block;
  position: relative;
  text-align: right;
  font-size: 15px;
  margin: 5px;
}

a {
  color: white;
}

a:hover {
  color: purple;
}

#about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 20px;
}

#about {
  width: 40vw;
  display: block;
}

#about-div {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 30px;
}

#portrait {
  display: inline-block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  filter: grayscale();
}

/* .project-images:hover {
  filter: saturate();
} */

/* #portrait:hover {
  filter: saturate();
} */

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.project-images {
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  min-width: none;
  max-width: 90%;
}

#whale,
#sleep,
#puffwizz {
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.project-desc {
  font-size: 16px;
}

#projects-text,
#skills {
  margin-top: 50px;
  text-align: center;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-text {
  margin: 30px;
}

#footer {
  display: block;
  text-align: center;
  height: 40px;
}

/* @import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
} */
.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  /* font-size: 2em; */
  font-size: 25px;
  text-align: center;
  height: fit-content;
  width: fit-content;
  display: block;
  /* position: absolute; */
  /* color: white; */
  margin: 40px;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 60px;
  height: 50px;
  margin-bottom: 130px;
}

#headText {
  text-align: center;
  font-size: 14px;
  margin: 40px;
}

::selection {
  color: lightskyblue;
  background: darkblue;
}

@media only screen and (max-width: 600px) {
  #about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 0;
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 50px;
  }

  #about {
    width: 100%;
    display: block;
  }
}
